
button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
}
/* src/App.css */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Ajuster les conteneurs pour AdminLTE */
.content-wrapper {
  padding: 20px;
}
/* src/App.css */
.user-panel .nav-link {
  padding: 0.5rem;
  font-size: 14px;
}
