
button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0px;
}
/* src/App.css */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Ajuster les conteneurs pour AdminLTE */
.content-wrapper {
  padding: 20px;
}
/* src/App.css */
.user-panel .nav-link {
  padding: 0.5rem;
  font-size: 14px;
}
/* src/App.css */
.agent-row:hover {
  background-color: #f5f5f5; /* Gris clair au survol */
}

.agent-row td {
  vertical-align: middle; /* Centrer verticalement le texte */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
}

.table thead th {
  background-color: #e9ecef; /* Couleur de fond pour l’en-tête */
}

.agent-item:hover {
  background-color: #f5f5f5; /* Gris clair au survol */
}

.agent-item {
  display: flex;
  align-items: center; /* Centrer verticalement les éléments */
  padding: 10px; /* Espacement interne */
  transition: background-color 0.2s ease; /* Transition fluide */
}

.list-group {
  margin-bottom: 0; /* Supprimer la marge par défaut */
}

.list-group-item {
  border: 1px solid #dee2e6; /* Bordure cohérente avec le tableau */
}

